{% extends 'recipes/base.html' %}
<!-- -->
{% block content %}
<h1>Recipes Home</h1>
{% for recipe in recipes %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{recipe.dish_pic.url}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{recipe.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{recipe.author}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{recipe.updated_at|date:'F d, Y'}}</h6>
        <a class="btn btn-outline-info" href="{% url 'recipes-detail' recipe.pk %}" >View Recipe</a>
      </div>
    </div>
  </div>
</div>

{% endfor %} {% endblock content %}